
/ p wow, you visit #{session[:times_here]} times

h1  Домашняя страница
p.alert.alert-primary Find me  in app/views/home/index.html.slim
= render  "components/page/page"  do
  p.alert.alert-success  Hello from  our first component!
